<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cino</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
</head>

<body>
    {% include 'includes/navbar.html' %}
    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-12">
                    <h4>Hello, {{logged_user.first_name}}! Here is a list of your bookings:</h4>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <hr class="border-white">
                </div>
            </div>

            <div class="col-12">
                {% for booking in all_bookings %}
                <div class="card bg-darkblue border-rounded">
                    <div class="card-body">
                        <h5 class="card-title">Movie: {{booking.showtime.movie.title }} | Date: {{booking.showtime.date}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> Number of tickets: {{ booking.tickets}} | Price: {{booking.tickets}} * {{booking.showtime.price}}</h6>

                        <small>Room: {{booking.showtime.room}}</small>
                    </div>
                </div>


                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>