{% extends 'base.html' %} {% block 'content' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <h4>Hello, {{logged_user.first_name}}! Here is a list of your bookings:</h4>

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <hr class="border-white">
        </div>
    </div>

    <div class="col-12 my-5">
        {% for booking in all_bookings %}
        <div class="card bg-darkblue border-rounded">
            <div class="card-body">
                <h5 class="card-title">Movie: {{booking.showtime.movie.title }} | Date: {{booking.showtime.date}}</h5>
                <h6> Number of tickets: {{ booking.tickets}} | Price: {{booking.tickets}} * {{booking.showtime.price}}</h6>

                <small class="card-subtitle mb-2 text-muted">Room: {{booking.showtime.room.room}}</small>
            </div>
        </div>


        {% endfor %}
    </div>
</div>

{% endblock %}