<nav class="navbar navbar-expand-lg navbar-dark bg-darkblue sticky-top">
      <div class="container">
            <a class="navbar-brand letter-spacing-2 border-right px-3 border-dark" href="/">Cino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                  </li>
{#                  TODO: Shfaqja management  vec nese eshte admin #}
{#                  (Gjitheashtu duhet edhe ne backend me lan me hi ne kete route vetem nese eshte admin. #}
                  {% if logged_user.role == '1' %}
                      <li class="nav-item">
                            <a class="nav-link" href="/management">Management</a>
                      </li>
                      {% endif %}
                  </ul>
                  <div class="form-inline my-2 my-lg-0 nav-item active  navbar-nav navbar-dark">
                        {% if logged_user %}
                              <a href="/booking/{{logged_user.id}}" class="nav-link border-right border-dark">My bookings</a>
                              <a href="/logout" class="nav-link">Logout</a>
                        {% else %}
                              <a href="/login_page" class="nav-link">Log in</a>
                        {% endif %}

                  </div>
            </div>
      </div>  
</nav>