<div class="row pt-2">
    <div class="col-12 center top-movies slider" id="carousel" style="visibility:hidden">
        <a href="#">
            <img class="img-fluid" src="images/movies/1.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/2.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/3.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/4.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/5.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/6.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/7.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/8.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/9.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/10.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/11.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/12.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/13.jpg">
        </a>
        <a href="#">
            <img class="img-fluid" src="images/movies/14.jpg">
        </a>
    </div>
</div>