{% extends 'base.html' %} {% block 'content' %}
    <div class="row row-padding">
        <div class="col-md-12 col-spacing">
            <h1 class="my-5 text-center text-warning">CINO - The best choice for your next movie experience</h1>
            <img src="images/cinema/08.jpg" class="img-fluid d-block mx-auto">

            <div class="blockquote my-5 ">CINO is more than a regular place to see a movie - it is a movie theater for
                movie lovers. Since 1975,
                our mission has been to create the most complete and best possible movie-going experience for our
                customers.
            </div>
            <h2 class="text-center my-4 text-warning">Picture and Sound</h2>

            <div class="row">
                <div class="col-md-2"><img src="images/cinema/03.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
                <div class="col-md-8"><p>The experience inside the auditorium is our focal point. Designed to exceed THX
                    standards of presentation
                    excellence, our theater features the best in superior 4K + HFR projection with high-definition
                    picture
                    quality. In our premium multidimensional DOLBY ATMOS sound things come alive in breathtaking detail
                    and
                    flow all around you - even overhead - to make you feel like you are truly inside the story.</p>
                </div>
                <div class="col-md-2"><img src="images/cinema/02.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
            </div>


            <h2 class="text-center my-4  text-warning">Reserved Seating</h2>
            <div class="row">
                <div class="col-md-2"><img src="images/cinema/06.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
                <div class="col-md-8"><p>For a more relaxed movie-going experience, you can purchase tickets and select
                    your seats in advance both
                    at the box office and through our website and apps (iOS and Android).</p>
                    <p>Seating on the balcony - your unique experience. Our balcony features highly comfortable premium
                        leather
                        seats, additional leg room and stadium seating with an unbeatable view.</p></div>
                <div class="col-md-2"><img src="images/cinema/07.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
            </div>

            <h2 class="text-center my-4 text-warning">Unique Programming</h2>
            <div class="row">
                <div class="col-md-2"><img src="images/cinema/09.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
                <div class="col-md-8"><p>Our film programming is directed at the discerning moviegoer, with a mix of
                    new-release blockbusters,
                    specialty and art house films, and special events such as live transmissions from the most renowned
                    opera houses of the world. The program is available as a printed copy or online on our website.</p>
                   </div>
                <div class="col-md-2"><img src="images/cinema/10.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
            </div>


            <h2 class="text-center my-4 text-warning">Café, Bar, Snacks</h2>
            <div class="row">
                <div class="col-md-2"><img src="images/cinema/04.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
                <div class="col-md-8"><p>Hungry? Thirsty? The CINO concession bar features hot and cold drinks, snacks
                    and, of course, our
                    signature gourmet popcorns – movie-theater-style, in both salted and sweet varieties.</p>
                    <p>In fact, our
                        bar
                        can be enjoyed just for meeting friends over a coffee as well.</p></div>
                <div class="col-md-2"><img src="images/cinema/05.jpg" class="rounded-circle img-fluid d-block mx-auto">
                </div>
            </div>


        </div>
    </div>
{% endblock %}