{% extends 'base.html' %}
{% block 'content' %}
    <div class="row my-2">
    {% for event in events %}
        <div class="col-3">
            <div class="row">
                <div class="col-12">
                    <h1>{{ event.title }}</h1>
                </div>
                {% if event.cover_image %}
                        <div class="col-12"> <img class="w-100" src="{{ event.cover_image.url }}" alt=""></div>
                {% endif %}
                <b></b>
                <div class="col-12">
                    <p>{{ event.desc }}</p>
                    <a href="event/{{ event.id }}"><button class="btn btn-block btn-dark">Read about this event</button></a>
                </div>
        </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}