             <!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cino</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="{% static 'js/jquery.twbsPagination.js' %}" type="text/javascript"></script>

</head>

<body>
<div class="wrapper">
    {% include 'includes/navbar.html' %}
    <div class="container">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-purple-2 mt-2">
            <input class="form-control form-control-sm mr-3 my-3 w-50" type="text" placeholder="Search" aria-label="Search">
            <i class="fas fa-search" style="color: #a19e9e" aria-hidden="true"></i>
        </form>
        <div class="row my-5 text-center shadow-lg p-3 mb-5 rounded">
            {% for movie_item in movies.all %}
                <div class="col-3 text-dark">
                    <div class="card w-100 bg-transparent text-white">
                        <div class="card-image">
                            {% if movie_item.cover_image %}
                                <img class="card-img-top height-350" src="{{movie_item.cover_image.url}}" alt="Card image cap">
                            {% else %}
                                <img class="card-img-top height-350" src="{% static 'svgs/no_image_available.svg' %}" alt="No available image"> {% endif %}
                        </div>
                        <div class="card-body">
                            <a href="/movie/{{movie_item.id}}">
                                <h5 class="text-white">{{movie_item.title}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12">
                <ul class="pagination pt-3 justify-content-center" id="pagination"></ul>
            </div>
        </div>

{#        <div class="row my-5 text-center shadow-lg p-3 mb-5 rounded">#}
{#            {% for event_item in events.all %}#}
{#                <div class="col-12 text-dark">#}
{#                    <div class="card w-100 bg-transparent text-white">#}
{#                        <div class="card-image">#}
{#                            {% if event_item.cover_image %}#}
{#                                <img class="card-img-top height-350" src="{{event_item.cover_image.url}}" alt="Card image cap"> {% else %}#}
{#                                <img class="card-img-top height-350" src="{% static 'svgs/no_image_available.svg' %}" alt="No available image"> {% endif %}#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <a href="/event/{{event_item.id}}">#}
{#                                <h5 class="text-white">{{event_item.title}}</h5>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

        <div class="container">

            <div class="row mx-0">
                <div class="col-7">
                    <img class="w-100 h-75" src="https://i2.wp.com/www.dasym.com/wp-content/uploads/2017/07/Cinema-Image-by-Alexandre-Chassignon-on-Flickr.jpg?fit=870%2C653&ssl=1" alt="">
                    <div class="top-right text-white">News</div>
                </div>
                <div class="col-4 text-white my-5">
                    <h3>Dear Costumers</h3>
                    <hr>
                    <p>AS A PREVENTIVE MEASURE AGAINST CODIV-19 VIRUS, THE CINEMA WILL BE CLOSED UNTIL THE NEXT ANNOUNCEMENT STAY HEALTHY</p>
                </div>
            </div>
        </div>

        {# pagination#}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center my-3 ">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

        {# ------------ slider-------------------#}
        <div class="row pt-2">
            <div class="col-12 center top-movies slider" id="carousel" style="visibility:hidden;">
                {% for new_movie in newest_movies %}
                    <div>
                        <a href="movies/{{ new_movie.id }}">
                            <img class="img-fluid" src="{{ new_movie.cover_image.url }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>


        {#----------------------------------#}
        <!-- Footer -->
        <footer class="page-footer font-small mdb-color pt-4" style="background-color: rgba(7,54,66,0.87)">
            <div class="container text-center text-md-left text-white">
                <div class="row text-center text-md-left mt-3 pb-3 text-white">
                    <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold letter-spacing-2" style="font-size: 25px">Cino</h6>
                        <p style="color: #a19e9e">This portal is maintained by the company "Cino". The materials and information on this portal may not be copied, printed, or used in any form Other wishes for more, without the approval of the Cino executives. .</p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">
                    <hr class="w-100 clearfix d-md-none">
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #a19e9e">Services</h6>
                        <p><a href="#!" class="text-white">Home</a></p>
                        <p><a href="#!" class="text-white">Movies</a></p>
                        <p><a href="#!" class="text-white">Events</a></p>
                        <p><a href="#!" class="text-white">About</a></p>
                    </div>
                    <hr class="w-100 clearfix d-md-none">
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p style="color: #a19e9e">
                            <i class="fas fa-home mr-3 "></i> New York, NY 10012, US</p>
                        <p style="color: #a19e9e">
                            <i class="fas fa-envelope mr-3"></i> cino@gmail.com</p>
                        <p style="color: #a19e9e">
                            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p style="color: #a19e9e">
                            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>
                </div>
                <hr>
                <div class="row d-flex align-items-center">
                    <div class="col-md-7 col-lg-8">
                        <!--Copyright-->
                        <p class="text-center text-md-left">© 2020 Copyright:
                            <a href="https://mdbootstrap.com/">
                                <strong style="color: #a19e9e"> Cino.com</strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-5 col-lg-4 ml-lg-0">
                        <div class="text-center text-md-right">
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>
</div>
</body>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    $(document).ready(function () {
        window.pagObj = $('#pagination').twbsPagination({
            totalPages: {{ total_pages }},
            visiblePages: 10,
            startPage: {{ current_page }},
        }).on('page', function (event, page) {
                window.location.href = window.location.origin + "/page/" + page;
        });


        $("#carousel").css('visibility', 'visible');

        $('.top-movies').slick({
            dots: false,
            infinite: true,
            centerMode: true,
            slidesToScroll: 1,
            arrows: true,
            autoplay: true,
            autoplaySpeed: 700,
            centerPadding: '60px',
            slidesToShow: 8,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                }
            ]
        });
    });
</script>
</html>