{% extends 'base.html' %} {% block 'content' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="wrapper">
    <div class="container p-5">
        <div class="row">
            <!-- {#                        <div class="col col-2">#}
                {#                        {% if movie.cover_image %}#}
                {#                              <img src="{{movie.cover_image.url}}" class="img-thumbnail" alt="cover image"/>#}
                {#                        {% else %}#}
                {#                              <img class="img-thumbnail" src="{% static 'svgs/no_image_available.svg' %}" alt="No available image">#}
                {#                        {% endif %}#}
                {#                        </div>#} -->
            <div class="col-8">
                <h1>{{movie.title}}</h1>
                <p>{{movie.desc}}</p>
                {% if ratings %} {% for i in '1234'|make_list %}
                <i class="fa fa-star"></i> {% endfor %} {% endif %}
                <h5>Here is a trailer for you:</h5>

                <iframe height="300" width="600" src="{{ movie.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <form class="form-inline" action="/movie/{{movie.id}}/review" method="POST">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                        <select name="rating" id="rating" class="form-control ">
                            <option value="">Choose..</option>
                            {% for i in '12345'|make_list %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                            
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2"> Submit</button>
                </form>

            </div>
            <div class="col-4">
                {% for showtime in movie.has_show_times.all %}
                <p>Available tickets: <b>{{showtime.tickets}}</b></p>
                <p>Happening in: <b>{{showtime.date}}</b></p>
                <p>IMDb rate: <b>7/10</b></p>
                <button class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModal">Get tickets

                </button> {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="border-white">
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <h5>Comments</h5>
                {% for com in comments %}
                <div class="card bg-darkblue border-rounded">
                    <div class="card-body">
                        <h5 class="card-title">{{com.content}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">~ {{com.posted_by.first_name}}</h6>

                        <small>{{com.created_at}}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="border-white">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form action="/add_comment/{{movie.id}}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea name="content" placeholder="Leave a comment" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg text-dark" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Get a ticket for "{{ movie.title }}"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    {% for showtime in movie.has_show_times.all %}
                    <form action="/tickets/{{showtime.id}}" method="POST">
                        {% csrf_token %}
                        <select name="selected_showtime" id="selected_showtime" class="form-control">
                                
                                    <option value="{{ showtime.id }}">{{ showtime.room.room }} | {{ showtime.date }} {{ showtime.time }} | Starting from {{ showtime.price }}$</option>
                               
                            </select>
                        <input type="number" class="form-control my-2" name="tickets" placeholder="Number of tickets:" required>
                        <button type="submit" class="btn btn-success">Submit</button> {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}